header {
    background-color: black;
    text-align: center;
    padding:20px;
}
footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}
.content {
    background-color: #2ca152;
    color:whitesmoke;
    padding: 20px;
    height:200px;
    flex:3;
}
.side {
    background-color: #e6e6a5;
    padding: 20px;
    flex:1;
}
main {
    display: flex;
}
img {
    margin-left: -50px;
}
h4 {
    letter-spacing: 3px;
    word-spacing: 3px;
    font-family: Helvetica;
    text-shadow: 1px 1px 4px whitesmoke, 3px 6px purple, 5px 5px 8px red, 7px 7px 10px purple;
}
/*...............................................................................................................................*/
.neon{
    font-family: 'Monoton', cursive;
    font-size:80px;
    color: #d5fff3;
    position: left 50px;
    top: 50%;
    left: 50%;
    transform: translate(0%, 0%);
    font-weight: 200;
    letter-spacing: 8px;
    text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
  }
  
  .flicker-slow{
    animation: flicker 3s linear infinite;
  }
  
  .flicker-fast{
    animation: flicker 1s linear infinite;
  }
  
  @keyframes flicker {
      0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
          //text-shadow: none;
      opacity: .99;
          
      }
      20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
          opacity: 0.4;
      }
  }
/*..............................................................................................................................................*/  
